@import '../../../../dist/scss/variables.scss';
@import url(https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

button{
    padding: 7px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    display: flex;
    margin: 1.5% 1.5% 1.5% 5%;
    width: 90%;
    cursor: pointer; 
   

    &.selected{
        background-color: rgb(14, 14, 14);
        span{
            color: white;           
        }
    }
}

span{
    color: $unselected-color;
    width: 20vw;
    text-align: left;
    padding-top: 5px;
    font-family: "Circular Std Bold";
    font-size: .9rem;
    
}