<div class="main">   

    <app-project-cards class="cards-project" projectName="Cardápio digital" technologies="Angular | Typescript | SCSS" >
        <img src="../../../../../assets/images/cardapio-front-album.svg" class="project-img" alt="">
    </app-project-cards>
    
    <app-project-cards class="cards-project" projectName="Cardápio digital" technologies="Spring Boot | Java " >
        <img src="../../../../../assets/images/cardapio-back-album.svg" class="project-img" alt="">
    </app-project-cards>
    
    <app-project-cards class="cards-project" projectName="PhiloMatch" technologies="Flutter | Dart" >
        <img src="../../../../../assets/images/philomatch-album.svg" class="project-img" alt="">
    </app-project-cards>

</div>


 
