<div class="main">
    <app-navbar></app-navbar>
    <link href="https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold" rel="stylesheet">

    <div class="main">
        <div class="playlist-container">
            <div class="album-img">
                <img id="album-img" [src]="project?.album" alt="{{ project!.title }}">
            </div>
            <div class="description">
                <h4 id="playlist">Projeto</h4>
                <h2>{{ project!.title }}</h2>
            </div>
        </div>
    
    </div>
    

    <div class="play-container">
        <img id="play" src="../../../../../assets/images/Play_github.svg" alt="">
        <img id="heart" src="../../../../../assets/images/heart.svg" alt="">
        <img id="option-points" src="../../../../../assets/images/Options-points.svg" alt="">        
    </div>

    <div class="about">
        <h3>Sobre</h3>
    <p>{{ project!.description }}</p>
    </div>
</div>

<!-- <div>
    <h1>{{ project!.title }}</h1>
    <p>{{ project!.description }}</p>
    <img [src]="project?.album" alt="{{ project!.title }}">
   </div> -->
   