<div class="main">
 
    <div class="play-container">
        <img id="play" src="../../../../../assets/images/Play_Green.svg" alt="">
        <img id="heart" src="../../../../../assets/images/heart.svg" alt="">
        <img id="option-points" src="../../../../../assets/images/Options-points.svg" alt="">
    </div>

    <div class="projects-table">
        <table>
            <thead>
              <tr>
                <th># Título</th>
                <th>Data</th>
                <th>Álbum</th>
                <th>Tempo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>Nome da Música 2</td>
                <td>Frontend</td>
                <td>7 de ago. de 2023</td>
                <td>
                <p>2.32</p>
                </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>Nome da Música 1</td>
                <td>01/01/2024</td>
                <td>Álbum A</td>
                <td>
                <p>2.32</p>
                </td>
              </tr>
              <!-- Adicione mais linhas conforme necessário -->
            </tbody>
          </table>
    </div>

</div>