<div class="main">
    <app-navbar></app-navbar>
    <app-topic-description topicName="Projetos" description="Frontend, Backend, Mobile e mais">
        <img id="album-img" src="../../../../../assets/images/projetos-album.svg" alt="">
    </app-topic-description>

    <div class="play-container">
        <img id="play" src="../../../../../assets/images/Play_Green.svg" alt="">
        <img id="heart" src="../../../../../assets/images/heart.svg" alt="">
        <img id="option-points" src="../../../../../assets/images/Options-points.svg" alt="">
    </div>

    <div class="projects-table">
        <table>
             <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Álbum</th>
                    <th>Adicionada em</th>
                 </tr>
            </thead>
              <tbody>
                 <tr>
                    <td id="ordem">1</td>
                    <td id="teste">
                        <img id="img"  src="../../../../../assets/images/cardapio-front-album.svg" class="project-img" alt="">
                        <a (click)="goToProjectDetails(0)">Cardápio Digital</a>
                    </td>
                    <td>Frontend</td>
                    <td>7 de ago. de 2023</td>

                </tr>
                  <tr>
                    <td>2</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/philomatch-album.svg" class="project-img" alt="">
                        PhiloMatch
                    </td>
                    <td>Mobile</td>
                    <td>18 de out. de 2023</td>

                </tr>

                   <tr>
                    <td>3</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/cardapio-back-album.svg" class="project-img" alt="">
                        Cardápio Digital
                    </td>
                    <td>Backend</td>
                    <td>7 de ago. de 2023</td>

                </tr>
                   <tr>
                    <td>4</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/climApp-album.svg" class="project-img" alt="">
                        ClimApp
                    </td>
                    <td>Mobile</td>
                    <td>18 de ago. de 2023</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/byjampa-album.svg" class="project-img" alt="">
                        ByJampa
                    </td>
                    <td>Frontend </td>
                    <td>15 de ago. de 2023</td>
                </tr>
 
            </tbody>
        </table>
    </div>
</div>
