* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:host{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
 
}

#album-img{
    width: 13vw;
    min-width: 130px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 2%;
}