<div class="main">
    <app-navbar></app-navbar>
    <app-topic-description topicName="Projetos" description="Frontend, Backend, Mobile e mais">
        <img id="album-img" src="../../../../../assets/images/projetos-album.svg" alt="">
    </app-topic-description>

    <div class="play-container">
        <img id="play" src="../../../../../assets/images/Play_Green.svg" alt="">
        <img id="heart" src="../../../../../assets/images/heart.svg" alt="">
        <img id="option-points" src="../../../../../assets/images/Options-points.svg" alt="">
    </div>

    <div class="projects-table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Álbum</th>
                    <th>Adicionada em</th>
                    <th><img src="../../../../../assets/images/clock.svg" alt=""></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                    <td id="ordem">1</td>
                    <td id="teste">
                        <img id="img"  src="../../../../../assets/images/cardapio-front-album.svg" class="project-img" alt="">
                        Cardápio Digital
                    </td>
                    <td>Frontend</td>
                    <td>7 de ago. de 2023</td>
                    <td>
                        <p>2.32</p>
                    </td>
                </tr>
                  <tr>
                    <td>1</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/cardapio-front-album.svg" class="project-img" alt="">
                        Cardápio Digital
                    </td>
                    <td>Frontend</td>
                    <td>7 de ago. de 2023</td>
                    <td>
                        <p>2.32</p>
                    </td>
                </tr>
 
            </tbody>
        </table>
    </div>
</div>
