@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,500;9..40,700&family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #67a1e9 ,   rgba(18, 18, 18, 1) 50%) fixed;
}

:host {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

}

#album-img {
    width: 13vw;
    min-width: 110px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 2%;
}

#play {
    min-width: 68px;
    width: 6.2vw;
}

#heart,
#option-points {
    width: 2.5vw;
    min-width: 28px;
    margin-left: 1.7%;

}

.play-container {
    margin-top: 3%;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.project-img {
    width: 60px;
    border-radius: 5px;
}

#teste {
    display: flex;
    justify-items: left;  
 }

#ordem{
    width: 10px;
}

#img{
    margin-right: 10px;
}

li {
    color: white;
}

th,
p {
    color: white;
    font-family: "Circular Std Bold";
}
 
td{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
 }

th,
td {
     padding: 8px;
    text-align: left;
    color: white;
    align-items: center;

}

 
 td{
    margin-top: 2.5%;
 }

.projects-table{
    padding-bottom: 13%;
    width: 90%;
}
 
th:nth-child(1), th:nth-child(2),th:nth-child(3), th:nth-child(4) {
    border-bottom: 0.2px outset rgba(255, 255, 255, 0.219);
   }
   
 