* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:host {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

}

#album-img {
    width: 13vw;
    min-width: 110px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 2%;
}

#play {
    min-width: 68px;
    width: 6.2vw;
}

#heart,
#option-points {
    width: 2.5vw;
    min-width: 28px;
    margin-left: 1.7%;

}

.play-container {
    margin-top: 3%;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.project-img {
    width: 50px;
    border-radius: 5px;
}

#teste {
    display: flex;
    justify-items: left;  
 }

#ordem{
    width: 10px;
}

#img{
    margin-right: 5px;
}

li {
    color: white;
}

td,
p {
    color: white;
    font-family: "Circular Std Bold";
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 2%;
}

th,
td {
     padding: 8px;
    text-align: left;
    color: white;
    align-items: center;
 
 
}

ol {
    list-style-position: inside;
}

 

 