<link href="https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold" rel="stylesheet">

<div class="main">
    <app-navbar></app-navbar>
    <div class="greeting"> {{ status }} </div>

<div class="main-button">
    <app-topics-buttons class="button"
    [descricao]="'Sobre mim'"
    >
    <img class="img-topic" src="../../../../../assets/images/pagodeira2.svg" alt="">
</app-topics-buttons>
    <app-topics-buttons class="button"
    [descricao]="'Tecnologias'"
    >
    <img class="img-topic" src="../../../../../assets/images/no-repeat.svg" alt="">
</app-topics-buttons>
    <app-topics-buttons class="button"
    [descricao]="'Projetos'"
    >
    <img class="img-topic" src="../../../../../assets/images/projetos-album.svg" alt="">
</app-topics-buttons>
    <app-topics-buttons class="button"
    [descricao]="'Músicas Curtidas'"
    >
    <img class="img-topic" src="../../../../../assets/images/linked-songs.svg" alt="">
</app-topics-buttons>
</div>

<div class="subtitle">
    
    <h2>Feitos para você</h2>  
    <a href="http://">Mostrar tudo </a> 

</div>

<div class="project-cards">
    <app-project-cards class="cards-project" projectName="Cardápio digital" technologies="Angular | Typescript | SCSS" >
        <img src="../../../../../assets/images/cardapio-front-album.svg" class="project-img" alt="">
    </app-project-cards>
    
    <app-project-cards class="cards-project" projectName="Cardápio digital" technologies="Spring Boot | Java " >
        <img src="../../../../../assets/images/cardapio-back-album.svg" class="project-img" alt="">
    </app-project-cards>
    
    <app-project-cards class="cards-project" projectName="PhiloMatch" technologies="Flutter | Dart" >
        <img src="../../../../../assets/images/philomatch-album.svg" class="project-img" alt="">
    </app-project-cards>
</div>

 
</div>

