@import url(https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

.cards-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .card {
    width: 12vw;
    min-width: 85px;
    background: #191919;
    padding: 0.9rem;
    border-radius: 0.5rem;
    height: fit-content;
    margin: 0rem 1.05rem;
  }

  @media screen and (max-width: 600px) {
    .card {
      margin-top: 3vh;
    }
  } 
   
  
  
  .card-img {
    width: 100%;
    border-radius: 0.35rem;
 
  }
  
  .card-name {
    margin: 0.90rem 0;
    font-family: "Circular Std Bold";
    color: white;
  }
  
  .card-description {
    font-family: "Circular Std Bold";
    color: white;
    margin-bottom: 3%;
    font-size: 0.8rem;
    opacity: 0.5;
  }

  .card:hover{
    background: #252525;
    #icon-play {
      display: block;
    }
    transform: scale(1.05);
    transition: .3s;
  }

  #icon-play {
    display: none;
     width: 5vw;
     position: absolute;
     right: 10%;
     top: 45%;  
}


  

 