<link href="https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold" rel="stylesheet">

<div class="main">
    <app-navbar></app-navbar>
         <div class="artist__header">
            <div class="artist__info">
                <div class="profile__img">
                    <img src="../../../../../assets/images/eua.jpg" alt="foto-de-perfil" />

                </div>

                <div class="artist__info__meta">
                    <div class="artist__info__type">
                        <img width="40" id="verificado" src="../../../../../assets/images/verificado-icon.svg" alt="">
                        <h5>Desenvolvedor Full Stack</h5>    
                    </div>
                    <div class="artist__info__name"> <h4>Arthur Pereira</h4> </div>
                </div>
            </div>
        </div>
        <div class="about">
            <p>
                Amante da possibilidade de transformar ideias em realidade através da criação de softwares, com uma paixão especial pela área de desenvolvimento mobile. Estou atualmente em formação na área de Tecnologia da Informação, cursando Sistemas Para Internet na UNIESP. Tenho experiência em Flutter, Dart, Angular, TypeScript, Java, Spring Boot, PostgreSQL, MVC, SOLID, Git e Metodologias Ágeis.</p>
        </div>
 </div>
