@import '../../../../dist/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Montserrat:wght@500&display=swap');
 

button{
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.65);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    min-width: 21vw;
}

@media screen and (max-width: 600px) {
    button {
     width: 45vw;
 
    }
   }

.img-title{
    align-items: center;
    text-align: center;
    align-items: center;
    display: flex;
}
 
span{
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
    color: $white-color;
     width: 8vw;
     margin-left: 1vw;
     margin-right: 2vw;
}

#icon-play{
    display: none;
    width: 4.5vw;
   border: none;
}

button:hover #icon-play {
    display: block;

   }

   @media screen and (max-width: 600px) {
    button:hover #icon-play {
     width: 10vw; 
     span{
        margin-right: 12vw;
    }
    }    
   }
   