<div class="main">
    <app-navbar></app-navbar>
    <app-topic-description topicName="Projetos" description="Frontend, Backend, Mobile e mais">
        <img id="album-img" src="../../../../../assets/images/projetos-album.svg" alt="">
    </app-topic-description>

    <div class="play-container">
        <img id="play" src="../../../../../assets/images/Play_Green.svg" alt="">
        <img id="heart" src="../../../../../assets/images/heart.svg" alt="">
        <img id="option-points" src="../../../../../assets/images/Options-points.svg" alt="">
    </div>

    <div class="projects-table">
        <table>
             <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th class="info">Álbum</th>
                    <th class="info">Adicionada em</th>
                 </tr>
            </thead>
              <tbody>

                    <tr (click)="goToProjectDetails(1)">
 
                        <td id="ordem">1</td>
                        <td id="teste">
                            <img id="img"  src="../../../../../assets/images/cardapio-front-album.svg" class="project-img" alt="">
                            Cardápio Digital
                        </td>
                        <td class="info">Frontend</td>
                        <td class="info">7 de ago. de 2023</td>
                     </tr>

                   <tr (click)="goToProjectDetails(2)">
                    <td>2</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/philomatch-album.svg" class="project-img" alt="">
                        PhiloMatch 
                    </td>
                    <td class="info">Mobile</td>
                    <td class="info">18 de out. de 2023</td>
                </tr>

                   <tr (click)="goToProjectDetails(3)">
                    <td>3</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/cardapio-back-album.svg" class="project-img" alt="">
                        Cardápio Digital
                    </td>
                    <td class="info">Backend</td>
                    <td class="info">7 de ago. de 2023</td>
                </tr>

                   <tr (click)="goToProjectDetails(4)">
                    <td>4</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/climApp-album.svg" class="project-img" alt="">
                        ClimApp
                    </td>
                    <td class="info">Mobile</td>
                    <td class="info">18 de ago. de 2023</td>
                </tr>

                <tr (click)="goToProjectDetails(5)">
                    <td>5</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/byjampa-album.svg" class="project-img" alt="">
                        ByJampa
                    </td>
                    <td class="info">Frontend </td>
                    <td class="info">15 de ago. de 2023</td>
                </tr>
 
            </tbody>
        </table>
    </div>
</div>
