:host{
 
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
   }
 

 .routes-container{
    width: 77vw; 
    margin-left: 23.51%;
    min-height: 100vh;
 }

 #sidebar{
 width: 23.6vw;
 min-width: 23.2vw;
  min-height: 100%;
  position: absolute;
   
 }

 .footer{
   position: fixed;
   left: 0;
   bottom: 0;
 }

 
 