:host{
    display: flex;

    width: 100vw;
    height: 100vh;
    margin: 0;
   }



 .routes-container{
    width: 100vw;
    height: 100vh;
 }

 .footer{
   position: fixed;
   left: 0;
   bottom: 0;
 }

 
 