<div class="main">
    <app-navbar></app-navbar>
    <app-topic-description topicName="Músicas Curtidas" description="Arthgatao • 5 músicas">
        <img id="album-img" src="../../../../../assets/images/linked-songs.svg" alt="">
    </app-topic-description>

    <div class="play-container">
        <img id="play" src="../../../../../assets/images/Play_Green.svg" alt="">
        <img id="heart" src="../../../../../assets/images/heart.svg" alt="">
        <img id="option-points" src="../../../../../assets/images/Options-points.svg" alt="">
    </div>

    <div class="projects-table">
        <table>
             <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Álbum</th>
                    <th>Adicionada em</th>
                 </tr>
            </thead>
              <tbody>
                 <tr>
                    <td id="ordem">1</td>
                    <td id="music-name">                        
                        <p>em quase tudo</p> 
                        <p class="artist-name">Djonga, Coyote Beatz, Filiph Neo</p>
                    </td>
                    <td class="album-name">O Dono do Lugar</td>
                    <td class="date-music">2 de jan. de 2024</td>

                </tr>
                  <tr>
                    <td>2</td>
                    <td id="music-name">
                        <p>Lágrima Caindo</p>      
                        <p class="artist-name">Ferrugem</p>                  
                    </td>
                    <td class="album-name">Interessante</td>
                    <td class="date-music">28 de dez. de 2023</td>

                </tr>

                   <tr>
                    <td>3</td>
                    <td id="music-name">
                        <p>Leão</p>  
                        <p class="artist-name">Joyce Alane</p>                      
                    </td>
                    <td class="album-name">Churrasquinho Menos é Mais, Vol.2</td>
                    <td class="date-music">7 de ago. de 2023</td>

                </tr>
                   <tr>
                    <td>4</td>
                    <td id="music-name">
                        <p>Hino Vira-Lata</p>
                        <p class="artist-name">Emicida</p>
                    </td>
                    <td class="album-name">O Glorioso Retorno de Quem Nunca Esteve Aqui</td>
                    <td class="date-music">18 de dez. de 2023</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td id="music-name">
                        <p>Amado</p>
                        <p class="artist-name">Vanessa Da Mata</p>
                    </td>
                    <td class="album-name">Sim </td>
                    <td class="date-music">15 de ago. de 2023</td>
                </tr>
 
            </tbody>
        </table>
    </div>
</div>
