html,body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    // background: rgba(0, 0, 41, 0.712) fixed;
    background: linear-gradient(to bottom, #3F3C35,   rgb(12, 12, 12) 15%) fixed; 

 }

*::-webkit-scrollbar-thumb { 
    background-color: rgba(51, 51, 163, 1) ;
    width: 6px;
  }
  *::-webkit-scrollbar {
    background-color: transparent ;
 
  }