<div class="main">
    <app-navbar></app-navbar>
    <app-topic-description topicName="Tecnologias" description="Algumas das tecnologias que utilizo no dia a dia">
        <img id="album-img" src="../../../../../assets/images/no-repeat.svg" alt="">
    </app-topic-description>

    <div class="play-container">
        <img id="play" src="../../../../../assets/images/Play_Green.svg" alt="">
        <img id="heart" src="../../../../../assets/images/heart.svg" alt="">
        <img id="option-points" src="../../../../../assets/images/Options-points.svg" alt="">
    </div>

    <div class="projects-table">
        <table>
             <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Álbum</th>
                  </tr>
            </thead>
              <tbody>
                 <tr>
                    <td id="ordem">1</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/flutter-album.svg" class="project-img" alt="">
                        Flutter
                    </td>
                    <td>Mobile</td>                   
 
                </tr>
                  <tr>
                    <td>2</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/dart-album.svg" class="project-img" alt="">
                        Dart
                    </td>
                    <td>Mobile</td> 
                </tr>

                   <tr>
                    <td>3</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/album-java.svg" class="project-img" alt="">
                        Java
                    </td>
                    <td>Backend</td>
 
                </tr>
                   <tr>
                    <td>4</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/spring-album.svg" class="project-img" alt="">
                        Spring Boot
                    </td>
                    <td>Backend</td>
                 </tr>

                <tr>
                    <td>5</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/typescript-album.svg" class="project-img" alt="">
                        TypeScript
                    </td>
                    <td>Frontend </td>
                 </tr>
                <tr>
                    <td>6</td>
                    <td id="teste">
                        <img id="img" src="../../../../../assets/images/angular-album.svg" class="project-img" alt="">
                        Angular
                    </td>
                    <td>Frontend </td>
                 </tr>
 
            </tbody>
        </table>
    </div>
</div>
